body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bdedff;
  
}

.loading {
  background-color: #ffff;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}

.level {
  background-color: #ffff;
  border-radius: 20px;
  padding: 30px;
}
.level select{
  display: block;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 20px;
  outline: 4px solid #bdedff;
  border: none;
  padding: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-bg{
  background-color: #bdedff;
  border: 2px solid #9ae1fb;
  font-size: 18px;
  font-weight: 600;
}
.btn-bg:hover{
  background-color: #99dff8f3;
}

.questions{
  background-color: #ffff;
  border-radius: 20px;
  padding: 32px;
}
.questions .heading{
  display: flex;
  border: 3px solid #bdedff;
  border-radius: 8px;
  padding: 12px 6px;
}
.questions .heading h4{
  margin: 0px 4px;
}
.questions form{
  padding-left: 66px;
}
.questions input{
  margin-right: 12px;
}

.result{
  background-color: #ffff;
  border-radius: 20px;
  padding: 32px;
}